.movie-card {
    background: #f4f4f4;
    background-color: var(--background-color);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    outline: 2px solid transparent;
}

.movie-card-closed {
    position: relative
}

.movie-card-expandable:hover {
    opacity: 0.9;
    outline: 2px solid var(--background-color);
}

.movie-thumbnail {
    width: auto;
    height: 120px;
    margin-top: 12px;
    border-radius: 5px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    font-size: 14px;
    user-select: none;
}

.image-placeholder {
    width: 80px;
    height: 120px;
    border-radius: 12px;
    background-color: #666;
    border: 1px solid #444;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #aaa;
}

.info-column {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background-color: #0001;
    padding: 12px;
    border-radius: 8px;
    gap: 4px;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.button-container>button {
    font-size: 12px;
}

.close-button {
    background-color: orange;
}

.close-button:hover {
    background-color: darkorange;
}
