.movie-card {
    background: #f4f4f4;
    background-color: var(--background-color);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    outline: 2px solid transparent;
}

.movie-card-expandable:hover {
    opacity: 0.9;
    outline: 2px solid var(--background-color);
}

.movie-thumbnail {
    width: auto;
    height: 120px;
    margin-top: 12px;
    border-radius: 5px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    font-size: 14px;
    user-select: none;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.close-button {
    background-color: orange;
}

.close-button:hover {
    background-color: darkorange;
}
